<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout::site-head">
<title>Edição de Post</title>
</head>
<body>
	<header th:replace="layout::site-header"></header>

	<h1>Edite seu post</h1>

	<form method="post" th:object="${editPostForm}">
		
		<div>
		<label for="title">Título:</label>
		</div>
		
		<input id="title" type="text" name="title"
			th:value="*{title}"/> 
		<span class="formError"
		th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Título inválido</span>
		
		<div>
		<label for="body">Conteúdo:</label>
		</div>
		
		<input id="body" type="text" name="body"
			th:value="*{body}" /> 
		<span class="formError"
		th:if="${#fields.hasErrors('body')}" th:errors="*{body}">Conteúdo inválido</span>
		
		<div>
		<input type="submit" value="Salvar" /> 
		</div>
		
	</form>

	<footer th:replace="layout::site-footer"></footer>
</body>

</html>