<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="site-head">
	<link rel="stylesheet" href="../public/css/styles.css" th:href="@{/css/styles.css}" />
	<link rel="icon" href="../public/img/favicon.ico" th:href="@{/img/favicon.ico}" />
	<script src="../public/js/jquery-3.1.0.min.js" th:src="@{/js/jquery-3.1.0.min.js}"></script>
	<script src="../public/js/scripts.js" th:src="@{/js/scripts.js}"></script>
	
</head>
<body>
	<header th:fragment="site-header">
		<header>
			<a href="index.html" th:href="@{/}"><img
				src="../public/img/site-logo.png" th:src="@{/img/site-logo.png}" /></a>
			<a href="index.html" th:href="@{/}">Início</a> <a
				href="users/login.html" th:href="@{/users/login}">Login</a> <a
				href="users/signup.html" th:href="@{/users/signup}">Registrar</a> <a
				href="posts/management.html" th:href="@{/posts/management}">Gerenciamento
				de Posts</a>
				<a  th:href="@{/users/logout}">Logout</a>
			<!--  
				<a href="users/index.html" th:href="@{/users}">Usuários</a>
				
			<div id="logout-info">
				Hello, <b><span th:text="${lblHelloUserName}">user</span></b>!
				<a th:href="@{/users/logout}">Logout</a>
			</div>
		-->

			<ul id="messages"
				th:with="messages=${session[T(blog.business.services.NotificationServiceImpl).NOTIFY_MSG_SESSION_KEY]}">
				<!-- displays each message -->
				<li th:each="msg:${messages}" th:text="${msg.text}"
					th:class="${#strings.toLowerCase(msg.type)}"></li>
				<!-- then remove each one from http session 
				<span th:if="${messages}" th:remove="all"
					th:text="${session.remove(T(blog.business.services.NotificationServiceImpl).NOTIFY_MSG_SESSION_KEY)}">
				</span>-->
			</ul>
			
		</header>
	</header>

	<h1>Bem vindo!</h1>
	<p>
		Agora são: <b th:text="${execInfo.now.time}"></b>
	</p>
	<footer th:fragment="site-footer">
		Meu blog em Spring Boot, MVC, JPA. Now is: <b
			th:text="${#execInfo.now.time}"></b>
	</footer>
</body>

</html>